.root {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #eee;
}

.label-title {
    -fx-text-fill: #eee;
}

.text-area-content {
    -fx-background-color: #2b2b2b;
    -fx-border-color: #555;
    -fx-text-fill: #eee;
}

.button {
    -fx-background-color: #3a7bd5;
    -fx-text-fill: white;
}
